.title{
    font-family: 'Courier New', Courier, monospace;
    font-size: 12pt;
    font-weight: lighter;
    text-align: center;
}
.sub-title{
    font-family: 'Courier New', Courier, monospace;
    font-size: 12pt;
    font-weight: lighter;
    text-align: center;
}
.para{
    font-family: 'Courier New', Courier, monospace;
    font-size: 10pt;
    font-weight: lighter;
    text-align: center;
}
.menu-item{
    font-family: 'Courier New', Courier, monospace;
    font-size: 10pt;
    font-weight: lighter;
    text-align: center;
}