/* gallary box */
.container {
    max-width: 400px;
    position: relative;
  }
  /* buttons */
  .prev, .next {
    cursor: pointer;
    position: relative;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: black;
    font-weight: bold;
    font-size: 10px;
    transition: 0.6s ease;
  }