
h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 16pt;
    font-weight: normal;
    text-align: center;
}

h4{
   font-family: 'Courier New', Courier, monospace;
   font-size: 12pt;
   font-weight: lighter;
   text-align: center;
}

.title{
    font-family: 'Courier New', Courier, monospace;
    font-size: 12pt;
    font-weight: lighter;
    text-align: center;
}

.sub-title{
    font-family: 'Courier New', Courier, monospace;
    font-size: 12pt;
    font-weight: lighter;
    text-align: center;
}
.para{
    font-family: 'Courier New', Courier, monospace;
    font-size: 10pt;
    font-weight: lighter;
    text-align: center;
}

/* link styled as button*/
.menu-item{
    font-family: 'Courier New', Courier, monospace;
    font-size: 11pt;
    font-weight: lighter;
    text-align: center;
}

/* alternative for .menu-item - button as a link */
.button{
    border: .5px solid black;
    position: relative;
    padding: 5px 5px;
    text-align: center;
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    font-size: 11pt;
    font-weight: lighter;
    text-align: center;
    cursor: pointer;
    margin-left: 410px;

}

/* unvisited link */
a:link, a:visited, a:active {
    align-items: center;
    color: black;
    text-decoration: none;
  }
/* mouse over link */
a:hover {
    align-items: center;
    color:slategray;
    text-decoration: none;
  }
