/* TEXT */

/* Custom Font Families */
@font-face {
    font-family: "Inconsolata";
    src: url(./Inconsolata/static/Inconsolata/Inconsolata-Light.ttf);
}

/* Headings */
h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16pt;
    font-weight: normal;
    text-align: center;
}

h3 {
    font-family: "Inconsolata";
    font-size: 13pt;
    font-weight: lighter;
    text-align: center;
    text-transform: uppercase;
}

/* Default Paragraph */
p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12pt;
    font-weight: lighter;
    line-height: 1.7;
    text-align: justify;
    letter-spacing: .16mm;
    text-justify: inter-word;
    /* margin-right: 20%;
    margin-left: 25%; */
}

/* Paragraph title */
.title {

    font-family: "Inconsolata";
    font-size: 11pt;
    font-weight: bold;
    text-transform: uppercase;
    text-align: justify;
    letter-spacing: .2mm;

}


/* block quote */
.quote {
    display: block;
    margin-left: 30%;
    line-height: 1.3;
}


/* MENUS AND BUTTONS */

/* Directory Items */
.nav {
    font-family: 'Courier New', Courier, monospace;
    font-size: 9.5pt;
}

/* Link Hover */
a:link {
    align-items: center;
    color: slategray;
   
}

a:link,
a:visited,
a:active {
    align-items: center;
    color: rgb(109, 110, 110);
    text-decoration: none;
}

a:hover {
    align-items: center;
    color: rgb(230, 65, 0);
    text-decoration: none;
}

/*SCROLLING COLUMN*/

#content, html, body {
    box-sizing: border-box;
    height: 250px;
    width: 100%;
    
}

/* one scrolling column*/
#scroll-box {
    width: 55%;
    height:250px;
    overflow: scroll;
    margin-left: 23.5%;

}

/*scrolling text*/
#scroll-text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 11pt;
    font-weight: lighter;
    line-height: 1.5;
    text-align: justify;
    margin-right:2%;
    margin-left:2%;

}

/* static div text */
#static-box {
    width: 55%;
    margin-left: 23.5%;
}

#static-text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 11pt;
    font-weight: lighter;
    line-height: 1.5;
    text-align: justify;
    letter-spacing: .2mm;
    margin-right:0%;
    margin-left:0%;
}


